<h1 class="page-title">Styling text: inline</h1>

<h2 class="text-title">&lt;mark&gt;: marked (highlighted) text</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/mark.html">mark element</a>
    represents a run of text in one document marked or highlighted for reference purposes,
    due to its relevance in another context.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark">MDN: mark element</a>

<p>This is an example of <mark>highlighted</mark> text.</p>

<%- code`
This is an example of <mark>highlighted</mark> text.
` %>

<h2 class="text-title">&lt;del&gt;: deleted text</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/del.html">del element</a>
    represents a range of text that has been deleted from a document.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del">MDN: del element</a>

<p>This is an example of <del>deleted</del> text.</p>

<%- code`
This is an example of <del>deleted</del> text.
` %>


<h2 class="text-title">&lt;s&gt;: struck text</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/s.html">s element</a>
    represents contents that are no longer accurate
    or no longer relevant and that therefore has been “struck” from the document.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s">MDN: s element</a>

<p>This is an example of <s>irreleveant</s> text.</p>

<%- code`
This is an example of <s>irreleveant</s> text.
` %>


<h2 class="text-title">&lt;ins&gt;: inserted text</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/ins.html">ins element</a>
    represents a range of text that has been inserted (added) to a document.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins">MDN: ins element</a>

<p>This is an example of <ins>inserted</ins> text.</p>

<%- code`
This is an example of <ins>inserted</ins> text.
` %>

<h2 class="text-title">&lt;em&gt;: emphatic stress</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/em.html">em element</a>
    represents a span of text a span of text with emphatic stress.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em">MDN: em element</a>

<p>Just <em>do</em> it already!</p>

<%- code`
Just <em>do</em> it already!
` %>

<h2 class="text-title">&lt;small&gt;: small print</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/small.html">small element</a>
    represents a small print.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small">MDN: small element</a>

<p>
    <small>Side-comments and small print, including copyright and legal text,
        independent of its styled presentation.</small>
</p>

<%- code`
<small>Side-comments and small print, including copyright and legal text,
        independent of its styled presentation.</small>
` %>

<h2 class="text-title">&lt;u&gt;: offset text conventionally styled with an underline</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/u.html">u element</a>
    represents a span of text offset from its surrounding content
    without conveying any extra emphasis or importance.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/u">MDN: u element</a>

<h3 class="text-title">Chinese proper name marks</h3>

<blockquote>
    <p>In Chinese writing, a proper name mark (Simplified Chinese: <span lang="Hans">专名号</span>, <span lang="zh-Latn">zhuānmínghào</span>; Traditional Chinese: <span lang="Hant">專名號</span>) is an underline used to mark proper names, such as the names of people, places, dynasties, organizations. … This method of recognizing proper names in text is similar to the English use of a capital letter.</p>
    <footer><cite><a href="http://en.wikipedia.org/wiki/Proper_name_mark" title="Proper name mark - Wikipedia, the free encyclopedia">Proper name mark</a></cite>, Wikipedia</footer>
</blockquote>

<p>Wikipedia gives the following example, which can be formatted using &lt;u&gt;:</p>

<u class="pnm">屈原</u>放逐，乃賦<cite class="bnm">離騒</cite>。<u class="pnm">左丘</u>失明，厥有<cite class="bnm">國語</cite>。（司馬遷 《<cite>報任安書</cite>》

<%- code`
<u class="pnm">屈原</u>放逐，乃賦<cite class="bnm">離騒</cite>。<u class="pnm">左丘</u>失明，厥有<cite class="bnm">國語</cite>。（司馬遷 《<cite>報任安書</cite>》
` %>

<h3 class="text-title">Spell-checking feedback</h3>


<p>This is an example of <u class="spelling-error">a spelling error</u>
    and <u class="grammatical-error">a grammatical error</u>.</p>

<%- code`
This is an example of <u class="spelling-error">a spelling error</u>
    and <u class="grammatical-error">a grammatical error</u>.
` %>

<p>Source: <a href="http://html5doctor.com/u-element/">http://html5doctor.com/u-element/</a></p>


<h2 class="text-title">&lt;i&gt;: offset text conventionally styled with an italic</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/i.html">i element</a>
    represents a span of text offset from its surrounding content without conveying any extra emphasis or importance,
    and for which the conventional typographic presentation is italic text; for example, a taxonomic designation,
    a technical term, an idiomatic phrase from another language, a thought, or a ship name.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i">MDN: i element</a>

<p>The Latin phrase <i>Veni, vidi, vici</i> is often mentioned in music, art, and literature.</p>

<%- code`
    The Latin phrase <i>Veni, vidi, vici</i> is often mentioned in music, art, and literature.
` %>

<h2 class="text-title">&lt;b&gt;: offset text conventionally styled in bold</h2>

<p>
    The <a href="http://www.w3.org/TR/html-markup/b.html">b element</a>
    represents a  span of text offset from its surrounding content without conveying any extra emphasis or importance,
    and for which the conventional typographic presentation is bold text; for example, keywords in a document abstract,
    or product names in a review.
</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b">MDN: b element</a>

<p>
    This article describes several <b>text-level</b> elements. It explains their usage in an <b>HTML</b> document.
</p>


<%- code`
    This article describes several <b>text-level</b> elements. It explains their usage in an <b>HTML</b> document.
` %>


<!--
TODO:
<h2 class="text-title">&lt;dfn&gt;/&lt;abbr&gt;: dfn importance</h2>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dfn">MDN: dfn element</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr">MDN: abbr element</a>

data, time, sub, sup, ruby, rb, rt, rtc, rp, bdi, bdo
-->


