<h1 class="page-title">Grid</h1>

<%- code`
<div class="row">
    <div class="col wp-50"></div>
    <div class="col wp-50"></div>
</div>
` %>

<h2 class="text-title">Percent</h2>

<p>
You can use the following classes: <code>wp-5</code>, <code>wp-10</code>, <code>wp-15</code>, <code>wp-20</code>,
<code>wp-25</code>, <code>wp-30</code>, <code>wp-35</code>, <code>wp-40</code>, <code>wp-45</code>, <code>wp-50</code>,
<code>wp-55</code>, <code>wp-60</code>, <code>wp-65</code>, <code>wp-70</code>, <code>wp-75</code>, <code>wp-80</code>,
<code>wp-85</code>, <code>wp-90</code>, <code>wp-95</code>, <code>wp-100</code> and also <code>wp-33</code>, <code>wp-66</code>.
</p>

<div class="row align-center">
    <div class="col wp-5" style="background: #AAF">5%</div>
    <div class="col wp-10" style="background: #AFA">10%</div>
    <div class="col wp-15" style="background: #AAF">15%</div>
    <div class="col wp-20" style="background: #AFA">20%</div>
    <div class="col wp-25" style="background: #AAF">25%</div>
    <div class="col wp-25" style="background: #AFA">25%</div>
</div>
<br>
<div class="row align-center">
    <div class="col wp-33" style="background: #AAF">33%</div>
    <div class="col wp-33" style="background: #AFA">33%</div>
    <div class="col wp-33" style="background: #AAF">33%</div>
</div>

<%- code`
<div class="row align-center">
    <div class="col wp-5">5%</div>
    <div class="col wp-10">10%</div>
    <div class="col wp-15">15%</div>
    <div class="col wp-20">20%</div>
    <div class="col wp-25">25%</div>
    <div class="col wp-25">25%</div>
</div>
` %>

<h2 class="text-title">Fixed size</h2>

<div class="row align-center">
    <div class="col w-200" style="background: #AAF">200px</div>
    <div class="col" style="background: #AFA">variable size</div>
</div>

<%- code`
<div class="row align-center">
    <div class="col w-200">200px</div>
    <div class="col">variable size</div>
</div>
` %>

<h2 class="text-title">Responsive</h2>

<div class="row row-responsive align-center">
    <div class="col wp-50" style="background: #AAF">50%</div>
    <div class="col wp-50" style="background: #AFA">50%</div>
</div>

<%- code`
<div class="row row-responsive align-center">
    <div class="col wp-50">50%</div>
    <div class="col wp-50">50%</div>
</div>
` %>

<h2 class="text-title">Space between columns</h2>

<p>This use a border-left on cols except the first. Avoid it if possible and use a padding inside the col.</p>

<div class="row spaced align-center">
    <div class="col wp-50" style="background: #AAF">50%</div>
    <div class="col wp-50" style="background: #AFA; border-color: red">50%</div>
</div>
<br>
<div class="row spaced align-center">
    <div class="col wp-33" style="background: #AAF">33%</div>
    <div class="col wp-33" style="background: #AFA;">33%</div>
    <div class="col wp-33" style="background: #AAF;">33%</div>
</div>

<%- code`
<div class="row spaced align-center">
    <div class="col wp-50">50%</div>
    <div class="col wp-50">50%</div>
</div>
` %>
