<h1 class="page-title">Lists</h1>

<ul class="list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

<%- code`
<ul class="list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
` %>

<h2 class="text-title">multiline</h2>

<ul class="list multiline">
    <li>Item 1<br><span class="text-caption">This is item 1</span></li>
    <li>Item 2<br><span class="text-caption">This is item 2</span></li>
    <li>Item 3<br><span class="text-caption">This is item 3</span></li>
</ul>

<%- code`
<ul class="list multiline">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
` %>


<h2 class="text-title">Simple list</h2>

<ul class="list simple">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

<%- code`
<ul class="list simple">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
` %>

<h2 class="text-title">Simple ordered list</h2>

<ol class="list simple ordered">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>

<%- code`
<ol class="list simple ordered">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>
` %>

<h2 class="text-title">Links list</h2>

<ul class="list links selectable">
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li class="current"><a href="#">Item 3</a></li>
    <li><a href="#">Item 4</a></li>
</ul>

<%- code`
<ul class="list links selectable">
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li class="current"><a href="#">Item 3</a></li>
    <li><a href="#">Item 4</a></li>
</ul>
` %>

<h2 class="text-title">list with border</h2>

<ul class="list block">
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<ul class="list block primary">
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<%- code`
<ul class="list block">
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<ul class="list primary">
    <li>Item 1</li>
    <li>Item 2</li>
</ul>
` %>
